/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS reset*/
@media only screen and (min-width:760px) {
    .wrapper{
        width: 100vw;
        height: calc(100vh - 80px);
        background-image: url('https://media.istockphoto.com/photos/film-reels-on-black-background-movie-video-and-cinema-prodaction-and-picture-id1336937059?b=1&k=20&m=1336937059&s=170667a&w=0&h=Lg5T5VAhrTRhHmFrWp8cTWRjZrSm-nPkeTpVU2dsZoE=');
        background-size: 100%;
    }
    .searchBox{
        display: flex;
        align-items: center;
        width: 80%;
    }
    .mainNav{
        display: flex;
        flex-direction: row;
        width:100vw;
        height: 80px;
        background-color: grey;
    }
    .mainLogo{
        margin: auto 10px;
        height: 80%;
        width: 20%;
        border-radius:25px;
    }
    .sideNav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        height: calc(100vh - 80px);
        visibility: hidden;
        background-color: grey;
        position: fixed;
        width: 250px;
        z-index:2;
    }
    .sideNav ul{
        width: 250px;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .sideNav li{
        margin:auto;
    }
    .sideMenuButton{
        margin: auto;
        height: 80%;
        width: 8%;
        margin-left: 3%;
    }
    .searchBox img{
        height: 40px;
        width: 30px;
        background-color: white;
        border-radius: 0 12px 12px 0;
    }
    .searchBox img:hover{
        background-color: grey;
        cursor: pointer;
    }

    .searchBox input{
        width: 80%;
        height: 40px;
        border-radius: 12px 0 0 12px;
        margin-left: 3%;
        box-shadow: none;
        border: none;
        font-size: medium;
    }
    .searchBox input:focus{
        outline:0;
        border-bottom: black 2px solid;
    }

    .top-filmReel, .bottom-filmReel{
        height: 20px;
        width: 100%;
        background-color: black;
        display: flex;
        flex-direction:row;
    }
    .middleFilmReel{
        height: 100px;
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: white;
    }
    .mainReel{
        width: 100%;
        position: absolute;
        bottom:0;
        opacity:0.5
    }
    .mainReel:hover{
        opacity: 1;
    }
}
