*{
    margin: 0;
    padding: 0;
}
.movieInfoWrapper{
    background-image: url('Media/Army\ of\ the\ dead\ poster.jpg');
}

.movieInfoText{
    width: 45%;
    background-image: linear-gradient(to right, white 75%, transparent);
    min-height: 100vh;
    opacity: 1;
    border-radius: 0 5% 5% 0;
}

.movieSummary, .stylizedName, .reviews, .streamLinks{
    width: 73%;
}
